In [1]:
import numpy as np
import pandas as pd

In [3]:
# 24 extract words that contain at least 2 vowels
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])


def count_vowels(word):
    vowels = 'aeoiuAEOIU'
    count = 0
    for l in word:
        if l in vowels:
            count += 1
    return count > 1


ser[ser.apply(lambda x: count_vowels(x))]

0     Apple
1    Orange
4     Money
dtype: object

In [14]:
# 25
import re

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com',
                    'haj reza', 'khodayary'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
emails[emails.apply(lambda x: bool(re.match(pattern, x)))]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [15]:
mask = emails.map(lambda x: re.match(pattern, x))

In [16]:
mask

0                                                 None
1    <re.Match object; span=(0, 17), match='rameses...
2    <re.Match object; span=(0, 9), match='matt@t.co'>
3    <re.Match object; span=(0, 17), match='narendr...
4                                                 None
5                                                 None
dtype: object

In [23]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
df = pd.DataFrame([fruit, weights]).T

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'banana', 'banana', 'banana', 'apple', 'carrot', 'apple', 'apple', 'carrot', 'apple']

In [32]:
groups = df.groupby(0)

In [33]:
groups.groups

{'apple': [4, 6, 7, 9], 'banana': [1, 2, 3], 'carrot': [0, 5, 8]}

In [35]:
groups.get_group('apple')[1].mean()

7.5

In [37]:
groups.get_group('banana')[1].mean()

3.0

In [38]:
groups.get_group('carrot')[1].mean()

5.333333333333333

In [39]:
weights.groupby(fruit).mean()

apple     7.500000
banana    3.000000
carrot    5.333333
dtype: float64

In [40]:
# 27
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [42]:
(((p - q) ** 2).sum()) ** 0.5

18.16590212458495

In [43]:
# 28
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
ser.diff()

0    NaN
1    8.0
2   -7.0
3    1.0
4    5.0
5    1.0
6   -8.0
7    5.0
8   -4.0
dtype: float64

In [46]:
ser.diff()

AttributeError: 'Series' object has no attribute 'sign'

In [56]:
# 29
my_str = 'dbc deb abed gade'
ser = pd.Series(list(my_str))
freq = ser.value_counts()
least_freq = freq.index[-1]
''.join(ser.replace(' ', least_freq))

'dbcgdebgabedggade'

In [52]:
least_freq

'g'

In [50]:
freq

d    4
b    3
e    3
     3
a    2
c    1
g    1
dtype: int64

In [66]:
# 30
pd.date_range(start=start, periods=10, freq='W-SAT')

DatetimeIndex(['2000-01-01', '2000-01-08', '2000-01-15', '2000-01-22',
               '2000-01-29', '2000-02-05', '2000-02-12', '2000-02-19',
               '2000-02-26', '2000-03-04'],
              dtype='datetime64[ns]', freq='W-SAT')