In [3]:
import pandas as pd
import numpy as np

In [5]:
# 11
ser = pd.Series(np.random.random(20))
labels = ['1st', '2nd', '3rd', '4th', '5th',
          '6th', '7th', '8th', '9th', '10th'
         ]
pd.qcut(ser, 10, labels=labels)

0      8th
1      9th
2      4th
3      5th
4      8th
5      3rd
6      2nd
7      1st
8      2nd
9      7th
10     1st
11     9th
12    10th
13     6th
14     3rd
15     5th
16     4th
17     6th
18    10th
19     7th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [6]:
# 12
ser = pd.Series(np.random.randint(1, 10, 35))
pd.DataFrame(ser.values.reshape(7, 5))

   0  1  2  3  4
0  4  2  7  4  5
1  2  3  6  6  1
2  9  4  8  4  9
3  6  8  8  8  9
4  4  8  7  4  6
5  8  7  7  9  9
6  7  6  2  6  6

In [7]:
# 13
ser = pd.Series(np.random.randint(1, 10, 7))
display(ser)
ser.apply(lambda x: not bool(x % 3))

0    3
1    6
2    2
3    1
4    9
5    8
6    1
dtype: int64

0     True
1     True
2    False
3    False
4     True
5    False
6    False
dtype: bool

In [8]:
ser.apply(lambda x: x % 3 == 0)

0     True
1     True
2    False
3    False
4     True
5    False
6    False
dtype: bool

In [9]:
np.argwhere(ser % 3 == 0)

ValueError: Length of passed values is 1, index implies 7.

In [10]:
# 14
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.loc[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [11]:
# 15
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
v = pd.concat([ser1, ser2], axis=0)
h = pd.concat([ser1, ser2], axis=1)
display(v, h)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [13]:
combined = ser1.append(ser2)

In [14]:
combined.loc[4]

4    4
4    e
dtype: object

In [15]:
# 16
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
ser1[ser1.isin(ser2)].index

Int64Index([0, 4, 5, 8], dtype='int64')

In [16]:
# 17
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
((truth - pred) ** 2).mean()

0.26437910841332124

In [17]:
# 18
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.apply(lambda x: x.capitalize())

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [18]:
# 19
ser.apply(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [19]:
# 20
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
display(ser.diff(), ser.diff().diff())

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

In [20]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [26]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser = pd.to_datetime(ser)
date = ser.dt.day
week_num = ser.dt.strftime('%W' )
day_of_year = ser.dt.dayofyear
day_of_week = ser.dt.day_name()

In [27]:
display(date,
        week_num,
        day_of_week,
        day_of_year)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

0    00
1    05
2    09
3    13
4    18
5    22
dtype: object

0       Friday
1    Wednesday
2     Saturday
3     Thursday
4       Monday
5     Saturday
dtype: object

0      1
1     33
2     63
3     94
4    125
5    157
dtype: int64

In [34]:
# 23
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
pd.to_datetime(ser.apply(lambda x: '4th ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]